/* Define the grid container */
.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(500px, auto);
  gap: 20px;
}

/* Style the cards */
.movie-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

/* Style the card on hover */
.movie-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

/* Style the card title */
.movie-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Style the card image */
.movie-image {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  display: flex;
}

.movie-image img {
  width: 100%;
  border-radius: 5px;
  object-fit:contain;

}

.empty-state {
  text-align: center;
  display: flex;
  margin-top: 15rem;
  flex-direction: column;
}


.no-image{
  width: 100%;
  background-color: #d6d6d6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add responsive styles */
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(500px, auto);
  }
}